.cart-item {
  max-height: 20rem;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-item h2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  color: #7b7b7b;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 0.5rem;
  color: #292929;
}

.amount {
  font-weight: light;
  border: 1px solid rgb(228, 227, 227);
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  color: #686868;
}

.actions {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #4b4a4a;
  border: 1px solid #d1d1d1;
  width: 3rem;
  text-align: center;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: #a3a3a2;
  color: white;
}
