.summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  position: relative;
  color: #161717;
  border-radius: 14px;
  padding: 1rem;
}

.wrapper {
  width: 80%;
}

.summary h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  margin-top: 0;
}
.summary p {
  overflow-wrap: break-word;
  font-family: "quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(90, 90, 90);
  text-align: left;
  padding-left: 4rem;
}
