.button {
  cursor: pointer;
  font: inherit;
  border: none;

  background-color: #fae5da85;
  color: rgb(62, 153, 153);
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: lighter;
}

.button:hover,
.button:active {
  background-color: #f0dfd685;
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  color: rgb(45, 128, 128);
}

.badge {
  background-color: #f7eacb92;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 128, 128);
}

.button:hover .badge,
.button:active .badge {
  background-color: #f9d49c23;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
