.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #f2e1bc30;

  color: rgb(29, 28, 28);
  font-weight: lighter;
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(238, 224, 179, 0.25);
  z-index: 10;
}
.header h1 {
  font-family: "BioRhyme Expanded", serif;
  font-size: 1.75rem;
  letter-spacing: 0.25em;
  background: linear-gradient(
    98.04deg,
    rgba(12, 114, 121, 0.87) 23.36%,
    rgba(35, 152, 160, 0.73) 39.74%,
    rgba(47, 165, 173, 0.71) 49.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: multiply;
}
.header h2 {
  font-family: "quicksand";
  text-transform: uppercase;
  font-weight: regular;
  font-size: 0.75rem;
  color: rgb(69, 69, 69);
}

.header button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgb(8, 77, 75);
}

.main-image {
  width: 100%;
  max-height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.95;
}
